<%- include('part/header')%>


<body class="mentor">
    <div class="main-box">
        <div class="left-box">
            <h1>Login Details</h1>
            <div class="details">
                <h2>Name :- Sourabh</h2>
                <h2>Email:- Sourabh@gmail.com</h2>
                <h2>phone:- 8930300480</h2>
                <h2>Post :- mentor</h2>
            </div>
            <div class="links">
                <button><a href="/">Logout</a></button>
                <button><a href="/">My Account</a></button>
                <button><a href="/">My Team Mates</a></button>
                <button><a href="/">Extra </a></button>
                <button><a href="/">Extra </a></button>

            </div>
        </div>
        <div class="middle-box">
          
            <div class="input">
                <input type="text" placeholder="Todo">
                <!-- <textarea name="" id="" cols="10" rows="5" > -->
                <button>Submit</button>
            </div>
            <div class="space">

            </div>
        </div>
        <div class="right-box">
            <div class="assing-input">
                <form action="">
                    <input type="text" placeholder="Enter the mate name">
                    <input type="text" placeholder="Enter the task">
                    <button>Assign</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('part/footer')%>
