<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="/css/signinup.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron&family=Playfair+Display+SC&family=Rajdhani&display=swap" rel="stylesheet">

    <title>SignUp</title>
</head>
    <body class="signup">
        

        <div class="sign-boxes">

            <div class="sign-middle-box">
                <h2 id='signuph'>Sign Up</h2>
                <form method='post' action="/signup">
                    <div class="flex">
                        <label for="name">Full Name</label>
                        <input type="text" placeholder='Enter Your Name here' id='name' name="name" required/>
                    </div>

                    <div class="flex">
                        <label for="name">Username</label>
                        <input type="text" placeholder='Enter Your Name here' id='name' name="username" maxlength="10" minlength="4" required/>
                    </div>
                    <div class="flex">
                        <label for="password">Password</label>
                        <input type="password" placeholder='Enter password' id='password' name='password' maxlength="15" minlength="8" required/>
                    </div>

                    <div class="flex">
                        <label for="Email">Email</label>
                        <input type="email" placeholder='Enter Email' id='email' name="email" required />
                    </div>
                    <div class="flex">
                        <label for="Phone">Phone No.</label>
                        <input type="tel" placeholder='Enter Phone No' id='phone' name='phone' maxlength="10" minlength="10"  required />
                    </div>
                    <div class="flex">
                        <label for="Selection">Post</label>
                        <select name="post" id="select">
                            <option value="">Select Your Post</option>
                            <option value="Mentor">Mentor</option>
                            <option value="Employ">User</option>
                        </select>
                    </div>
                    <button type='sumbit' id="submit">Sign Up</button>
                <h4 class="non">Already have an account</h4>
                <button id="submit" class="non"><a href="./signin" >Sign in</a></button>
                
                <button id="submit" class="non"><a  href="/auth/google" >google</a></button>
                
               
            </form>

            </div>
            <div class="sign-right-box none">
                <h1>Tracking System</h1>
                <h3>Register yourself and track your project with your teammates</h3>
                <p>A myriad of tracking systems exists. Some are 'lag time' indicators, that is, the data is collected
                    after an item has passed a point</p>

                <h4>Already have an account</h4>
                <button id="login"><a href="./signin" >Sign in</a></button>
            </div>
        </div>

    </body>

    <%- include('part/footer')%>