<%- include("part/header") %>
<body class="signup">
    <div id="bg-image"></div>
      <div class="container">
        <a href="/signup" id="login"><p>SignUp</p></a>
                <form action="/signin" method="post">
                    <div class="box" id='loginBox'>
                        <h2>Login</h2>
                        <p>
                            <%= ack %>  
                        </p>
                        <div class="flex">
                            <label for="name">Username</label>
                            <input type="text" placeholder='Username' id='name' name="username" />
                        </div>
                        <div class="flex">
                            <label for="password">Password</label>
                            <input type="password" placeholder='Enter password' id='password' name="password"/>
                        </div>
                        <button type='sumbit'>Login</button>
                    </div>
                </form>
                <div id="extrabox">
                            <div>
                                <p id='EB-p1'>TRACK YOUR WORK WITH US</p>
                                <br/>
                                <p id='EB-p1'>Sign Up If You Don't Have An Account</p>
                                
                            </div>
                            
                        </div>
 </div>
</body>
 <%- include("part/footer") %>