<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signinup.css">
    <title>SignIn</title>
</head>

    <body class="signup">
        <div id="bg-image"></div>

      <div class="sign-boxes">
            <div class="sign-middle-box signin-b1" id="signin-b1">
                <!-- <h1>Tracking System</h1> -->
                <h1>Welcome Back</h1>
                <p>A myriad of tracking systems exists. Some are 'lag time' indicators, that is, the data is collected
                    after an item has passed a point</p>

                <h4>Already have an account</h4>
                <button class="signup-button" id="submit"><a href="/signup" id="login">SignUp</a></button>
            </div>


            <div class="sign-right-box signin-b2" id="signin-b2">
                <h1>Login</h1>
                <form action="/signin" method="post">
                    <p>
                        <%= ack %>
                    </p>
                    <div class="flex">
                        <label for="name">Username</label>
                        <input type="text" placeholder='Username' id='name' name="username" maxlength="10" minlength="4" required/>
                    </div>
                    <div class="flex">
                        <label for="password">Password</label>
                        <input type="password" placeholder='Enter password' id='password' name="password" maxlength="15" minlength="8" required />
                    </div>
                    <button type='sumbit' id="login">Login</button>
                </form>
            </div>
        </div>
    </body>
    <%- include("part/footer") %>