<%- include('part/header')%>

    <body class="signup">

        <div id="bg-image"></div>
            <div class="container">
                <form method='post' action="/signup">
                    <div class="box">
                        <h2 id='signuph'>Sign Up</h2>
                        <div class="flex">
                            <label for="name">Full Name</label>
                            <input type="text" placeholder='Enter Your Name here' id='name' name="name"/>
                        </div>

                        <div class="flex">
                            <label for="name">Username</label>
                            <input type="text" placeholder='Enter Your Name here' id='name' name="username"/>
                        </div>
                        <div class="flex">
                            <label for="password">Password</label>
                            <input type="password" placeholder='Enter password'  id='password' name='password' />
                        </div>

                        <div class="flex">
                            <label for="Email">Email</label>
                            <input type="email" placeholder='Enter Email' id='email' name="email" />
                        </div>
                        <div class="flex">
                            <label for="Phone">Phone No.</label>
                            <input type="tel" placeholder='Enter Phone No' id='phone' name='phone' />
                        </div>
                        <div class="flex">
                            <label for="Selection">Post</label>
                            <select name="post" id="select" >
                                <option value="">Select Your Post</option>
                                <option value="Mentor">Mentor</option>
                                <option value="Employ">User</option>
                            </select>
                        </div>
                        <button type='sumbit'>Sign Up</button>
                    </div>
                </form>
                <Link to="/login" id='signin'>Sign In</Link>
                        <div id="extrabox">
                            <div>
                                <p class='EB-p1'>TRACK YOUR WORK WITH US</p>
                                <br />
                                <p class='EB-p1'>Sign In If You Already Have An Account</p>
                                
                            </div>
                            
                        </div>
</div>

    </body>

    <%- include('part/footer')%>