<%- include('part/header')%>


<body>
    <div class="main-box">
        <div class="left-box">
            <h1>Login Details</h1>
            <div class="details">
                <h2>Name :- Sourabh</h2>
                <h2>Email:- Sourabh@gmail.com</h2>
                <h2>phone:- 8930300480</h2>
                <h2>Post :- mentor</h2>
            </div>
            <div class="links">
                <button><a href="/">Logout</a></button>
                <button><a href="/">My Account</a></button>
                <button><a href="/">My Team Mates</a></button>
                <button><a href="/">Extra </a></button>
                <button><a href="/">Extra </a></button>

            </div>
        </div>
        <div class="middle-box">
            <!--             
            <div class="card">
                <div class="user-name"><h1>Sourabh</h1></div>
                <div class="task"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptatibus in molestias voluptatum quia voluptas laborum fuga temporibus obcaecati consectetur explicabo, velit, quam aliquam qui odio vitae! Cumque, vitae neque?</p></div>
            </div>
            <div class="card">
                <div class="user-name"><h1>Sourabh</h1></div>
                <div class="task"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptatibus in molestias voluptatum quia voluptas laborum fuga temporibus obcaecati consectetur explicabo, velit, quam aliquam qui odio vitae! Cumque, vitae neque?</p></div>
            </div> -->


            <div class="input">
                <input type="text" placeholder="Todo">
                <!-- <textarea name="" id="" cols="10" rows="5" > -->
                <button>Submit</button>
            </div>
            <div class="space">

            </div>
        </div>
        <!-- <div class="right-box">
            <div class="assing-input">
                <form action="">
                    <input type="text" placeholder="Enter the mate name">
                    <input type="text" placeholder="Enter the task">
                    <button>Assign</button>
                </form>
            </div>
        </div> -->
    </div>
</body>

<%- include('part/footer')%>
