* {
    margin: 0;
    padding: 0;
}

.mentor {
    background-image: url('https://img.freepik.com/premium-vector/elegant-white-texture-background_23-2148438345.jpg?w=360');
}

.mentor .main-box {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.todo-assign-box {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cdced4aa;
    border-radius: 10px;
}

.middle-box {
    width: 45%;
    height: 71vh;
    color: rgb(21, 106, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 2px dashed black;
}

.mentor .input input {
    height: 40px;
    border-radius: 10px;
    padding: 0px 5px;
    border: 2px solid rgb(70, 69, 69);
    outline: none;
    margin-top: 2px;
    font-size: 17px;
    background: transparent;
    margin: 15px 0px;
}

.mentor button {
    width: 6rem;
    height: 44px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    background: linear-gradient(34deg, rgba(0, 70, 101, 0.8727823893229166) 62%, rgba(139, 219, 219, 1) 100%);
    color: white;
    border: none;
}

.mentor button:hover {
    border: 2px solid black;
}

.mentor .mytodo {
    width: 90%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    overflow: scroll;
}

.mentor .assignedtod {
    height: 65vh;
}

.mentor .mytodo::-webkit-scrollbar {
    display: none;
}

.mentor .mytodo .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mentor .mytodo .todo p {
    width: 98%;
    height: 50px;
    font-size: 30px;
    padding: 0px 5px;
    margin: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: rgb(76, 73, 73);
    background-color: rgba(178, 176, 179, 0.555);

}

.mentor .mytodo .todo p::-webkit-scrollbar {
    display: none;
}

.mentor .mytodo .todo a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    color: rgb(21, 106, 136);
    background-color: rgba(178, 176, 179, 0.555);

}

.mentor .mytodo .todo i {
    font-size: 20px;
}

.mentor .mytodo .todo a:hover i {
    color: rgb(101, 98, 98);
}

.right-box {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(21, 106, 136);
    padding-top: 1rem;
}









@media screen and (max-width:450px) {
    .main-box {
        margin-top: 50px;
        width: 100%;
        height: 100%;
    }

    .todo-assign-box {
        flex-direction: column;
        width: 99%;
        height: 100%;
        border: 0;
    }

    .middle-box {
        width: 100%;
        /* border-bottom: 2px solid #5D0CFF; */
        border-bottom: 2px solid rgb(0, 70, 101);
        margin-bottom: 5px;
    }

    .middle-box h1 {
        margin: 15px 0px;
    }

    .right-box {
        width: 100%;
        /* height: 100%; */
        overflow: scroll;
    }

    .mentor .right-box .asin-task {
        width: 100%;
        height: 100%;
    }
}